*, *::before, *::after {box-sizing: border-box;}

body, html {
    height: 100%;}

body {
    margin: 0;
    background-color: #666666;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: 2% 2%;
    background-size: auto auto;
}

.header {
    padding: 20px;
    text-align: center;
    color: #aaaaaa;
    width:100%;
}

.footer {
    padding: 10px;
    text-align: center;
    color: #aaaaaa;
    width:100%;
}

/* column styles */
/* .column {
    float: left;
} */
    /* Left and right column */
    /* .column.side {
        width: 9%;
    } */

    /* Middle columns */
    /* .column.middleleft {
        width: 48%;
        padding: 10px;
        max-width:800px;
        min-width:800px;
    } */
    /* .column.middleright {
        width: 34%;
        padding: 10px;
        max-width: 550px;
    } */

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */


/*update background for small screens*/ 
/* @media screen and (max-width: 800px) {
    body{
            background-image: url('logotransp.png');
    }
} */

#controlgrid {
    display: grid;
    grid-template-columns: 5fr 1fr 15fr;
    grid-auto-rows: 80px;
    max-width: 800px;
}

    #controlgrid > div { /*style for direct child div elements */
        background: #666666;
        padding: 1em;
    }

        #controlgrid > div:nth-child(odd) { /*every odd div will be darker */
            background: #616161;
            padding: 1em;
        }

.blueButton {
    height: 40px;
    width: 150px;
    border-style: none;
    border-radius: 8px;
    background-color: #4488DD;
    color: white;
}

    .blueButton:hover {
        background-color: #5599FF;
    }

    .blueButton:active {
        background-color: #77BBFF;
    }

#toggleBut {
    font-size: large;
}

#testBut {
    height: 30px;
    width: 120px;
    margin: 10px;
}

.slidecontainer, .radiogroupcontainer {
    width: 550px;
    max-width: 525px;
    justify-content: flex-start;
}

.buttoncontainer, .radiocontainer {
    padding: 10px;
    padding-bottom: 10px;
    justify-content: flex-start;
}

.spanOutput {
    font-size: larger;
    color: yellow;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000;
        background: #2497E3;
        border-radius: 1px;
        border: 0px solid #000000;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #2497E3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #A1D0FF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #2497E3;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #2497E3;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-fill-upper {
        background: #2497E3;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #2497E3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #A1D0FF;
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #2497E3;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #2497E3;
    }

    .slider {
        background-color:inherit;
    }

    /* The radio button container */
    .radiocontainer {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        /*margin-bottom: 12px;*/
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default radio button */
        .radiocontainer input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 10px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #585858;
        border-radius: 50%;
    }

    /* On mouse-over, add a lighter grey background color */
    .radiocontainer:hover input ~ .checkmark {
        background-color: #707070;
    }

    /* When the radio button is checked, add a blue background */
    .radiocontainer input:checked ~ .checkmark {
        background-color: #4488DD;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radiocontainer input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .radiocontainer .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: yellow;
    }

    a {
        color: #66AAFF;
    }

        a:hover {
            color: #dddddd;
        }

    .middleright p {
        float:right;
    }

    #statusmsg, #msg {
        float: right;
        /*padding-right: 20px;*/
    }

    .subheading{
        font-size:larger;
        font-weight:bold;
    }


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}
    
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}
    
/* Medium Devices, Desktops */
@media only screen and (min-width : 1360px) {
    
    .wrapper {
        display: grid;
        grid-template-columns: 550px auto;
        grid-gap: 10px;
        background-color: red;
        padding: 10px;}
    
        .wrapper > .intro {
                grid-column: 2;
                grid-row: 1;
            }

        .wrapper > .canvaswrap {
            grid-column: 1;
            grid-row: 1/3;
        }

        .wrapper > .controls {
            grid-column: 2;
            grid-row: 2;
          }
}
    
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 1600px) {
    .column.side, .column.middleleft, .column.middleright {
        width: 100%;
    }
} */